body {
	font-family:
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		"Helvetica Neue",
		"Segoe UI",
		Cantarell,
		-apple-system,
		BlinkMacSystemFont,
		sans-serif;
	font-size: 0.76em;
	
}
article p {
    line-height: 1.45em;
    line-height: 2.7ex;
    max-width: 65.6ch;
}

aside {
	background-color: #dee5db;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%239C92AC' fill-opacity='0.15'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	color: #666;
}
aside a {
	color: #666;
}
aside a:hover {
	color: #000;
}
