<style>
	.social-share ul { margin: 0 auto; }
	.social-share ul li { display: inline-block; margin-rigth: 4px; }
	.social-share li a img { width: 1em; height: 1em; z-index: 1;}
	@media (pointer: coarse) {
		.social-share li a img { width: 3.1em; height: 3.1em; }
	}
	@media (pointer: fine) {
		.social-share li a img {
			transition: all .2s ease-in-out;
		}
		.social-share li a:hover img { z-index: 2; transform: scale(2.5); }
	}
</style>
<div class="center social-share" id="socialShareMain">
<p>{{ _('Like this article? Share it with your friends!') }}</p>
<ul>
<li><a href="mailto:?subject= &body={{ SITEURL }}/{{ output_file }} {{ SITENAME }}" title="e-mail this page"><img src="/i/social_email.svg" alt=""></a></li>
<li><a href="https://wa.me/?text={{ SITENAME }} {{ SITEURL }}/{{ output_file }}" title="share with Whatsapp contacts"><img src="/i/social_whatsbook.png" alt=""></a></li>
<li><a href="http://m.me/{{ SITENAME }} {{ SITEURL }}/{{ output_file }}" title="share with Facebook chat contacts"><img src="/i/social_facebook-chat.png" alt=""></a></li>
<li><a href="https://threema.id/{REPLACE  User ID}?text={{ SITEURL }}/{{ output_file }}" title="share with Threema contacts"><img src="/i/social_threema.svg" alt=""></a></li>
<li><a href="https://connect.qq.com/widget/shareqq/index.html?url={{ SITEURL }}/{{ output_file }}&title={{ SITENAME }}&summary={REPLACE summary}" title="分享链接到QQ"><img src="/i/social_qq.png" alt=""></a></li>
<li><a href="weixin://" title="链接生成微信"><img src="/i/social_weixing.png" alt=""></a></li>
<li><a href="https://t.me/share/url?url={{ SITEURL }}/{{ output_file }}&text={{ SITENAME }}" title="share with Telegram contacts"><img src="/i/social_telegram.png" alt=""></a></li>
</ul>
<ul>
<li><a href="https://www.facebook.com/sharer.php?u={{ SITEURL }}/{{ output_file }}" title="share on Facebook"><img src="/i/social_facebook.png" alt=""></a></li>
<li><a href="http://vk.com/share.php?url={{ SITEURL }}/{{ output_file }}&title={{ SITENAME }}" title="share on VK"><img src="/i/social_vk.png" alt=""></a></li>
<li><a href="https://twitter.com/share?url={{ SITEURL }}/{{ output_file }}&text={{ SITENAME }}" title="post on Twitter"><img src="/i/social_twitter.png" alt=""></a></li>
<li><a href="https://plus.google.com/share?url={{ SITEURL }}/{{ output_file }}" title="post on Google plus"><img src="/i/social_google.png" alt=""></a></li>
<li><a href="https://reddit.com/submit?url={{ SITEURL }}/{{ output_file }}&title={{ SITENAME }}" title="post on Reddit"><img src="/i/social_reddit.png" alt=""></a></li>
<li><a href="https://getpocket.com/save?url={{ SITEURL }}/{{ output_file }}&title={{ SITENAME }}" title="save on Pocket"><img src="/i/social_pocket.svg" alt=""></a></li>
<li><a href="https://pinterest.com/pin/create/bookmarklet/?media=[REPLACE-img]&url={{ SITEURL }}/{{ output_file }}&is_video=false&description={{ SITENAME }}" title="add to your pinterest collection"><img src="/i/social_pinterest.png" alt=""></a></li>
<li><a href="https://www.linkedin.com/shareArticle?url={{ SITEURL }}/{{ output_file }}&title={{ SITENAME }}" title="post on LinkedIn"><img src="/i/social_microsoftin.png" alt=""></a></li>
</ul>
</div>

